/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FAFAFA;
  margin: 0px;
  padding: 0px;
  color: #000000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidebar {
  background: #000;
  color: #fff;
  height: 100%;
  width: 210px;
  position: fixed;
}

#sidebar .header {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}

#sidebar ul {
  margin-top: 10px
}

#sidebar ul li {
  padding: 10px 5px;
  border-bottom: 1px solid #fff;
}

#sidebar .online {
  color: lime;
  font-weight: bold;
}

#sidebar .added_users {
  padding-left: 10px;
}

#sidebar .captcha_count {
  padding-left: 10px;
}

#container {
  margin-left: 210px;
}

#container .primary.log {
  position: fixed;
  height: 40px;
  width: 100%;
  background: #E6E4E4;
  border-bottom: 2px solid #000;
  color: #000;
}

#container .secondary.log {
  padding-top: 40px;
}

#container .log .text {
  padding: 10px;
}

#modal {
  position: absolute;
  top: 30%;
  left: 30%;
  background: #000;
  border: 1px solid #fff;
  height: 120px;
  text-align: center;
  width: 200px;
  display: none;
}