<% if(global.started) { %>
  <div class="primary log">
    <div class="text">

    </div>
  </div>

  <div class="secondary log">
    <div class="text">

    </div>
  </div>

<% } else { %>
  <strong>Нажмите старт для запуска программы</strong> <button class="start">Start</button>
<% } %>