
<div class="header">Пользователи</div>

<ul>
  <% global.authorization_data.forEach(function(login){ %>
    <li>
      <%= login[0] %>

      <% if (login[0] == global.current_user.user_id) { %>
       - <span class="online">ONLINE</span>
      <% } %>
    </li>
  <% }) %>
</ul>

<div class="success_added">
  <br />
  Успешно добавлено - <strong><%= global.success_added %></strong>
</div>


<div class="captcha">
  <br />
  captcha - <strong><%= current_user.captcha_amount %></strong>
</div>