
<div class="header">Пользователи</div>

<ul>
  <% global.authorization_data.forEach(function(login){ %>
    <li>
      <%= login[0] %>

      <% if (login[0] == global.current_user.user_id) { %>
       - <span class="online">ONLINE</span>
      <% } %>
    </li>
  <% }) %>
</ul>

<div class="added_users">
  <br />
  Успешно добавлено - <strong><%= global.added_users %></strong>
</div>


<div class="captcha_count">
  <br />
  captcha - <strong><%= global.current_user.captcha_count || 0 %></strong>
</div>

<div class="modal"></div>